body {
  width: 100%;
  height: 100%;
  background-image: url(../images/backcover.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 66%;
  margin: 0;
  padding: 0;
  outline: 0;
}
.main-div{
  margin-left: 50px;
  margin-top: 30px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 115px;
}
.nav-items {
  display: flex;
  width: 435px;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  font-family: roboto;
  color: #2f347d;
  font-size: 16px;
}
.signin-btn {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to right, #965cf2, #ff8adc);
  color: #fff;
  font-family: "roboto";
  margin-right: 120px;
}
.intro-section {
  display: flex;
}

.left-section h1{
    font-family: "Roboto"; 
    font-size: 72px;
    color: #3e4794;
    margin-top: 110px;
}
.left-section h4{
    font-family: "Roboto"; 
    font-size: 18px;
    color: #7c7f9b;
    font-weight: 300;
    width: 350px;
    line-height:1.7;
    margin-top: 50px;

}
 .imgs-div {
  display: flex;
  margin-right: 120px; 
  margin-top: 40px;
} 

.learn-more-btn{
    width: 250px;
    height: 60px;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 600;
    border: none;
    background-image: linear-gradient(to right, #965cf2, #ff8adc);
    color: #fff;
    font-family: "roboto";
    margin-top: 40px;
}
.vector-img{
  align-self: flex-end;
  margin-bottom: 190px;
  margin-left: 100px;
  height: 150px;
}
.vector-dot{
  align-self: flex-end;
  margin-top: 200px;
  margin-left: -60px;
  height: 30px;
  margin-bottom: 280px;
}
.menu-img{
  display: none;
}

@media screen and (max-width:800px){
  body {
    width: 100%;
    height: 100%;
    background-image: url(../images/backcover.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav-items{
    width: 300px;
  }
  .nav-item{
    font-size: 12px;
  }
  .signin-btn {
    margin-right: 50px;
  }
  .imgs-div{
    width: 300px;
    height: 300px;
    justify-content: flex-end;
    align-content: center;
    margin-right: 100px;
    flex-direction: column-reverse;
    z-index: -3;
  }
  .menu-img{
    display: none;
  }
}

@media screen and (max-width:600px) { 
  .menu-img{
    display: inline;
  }
  .imgs-div{
    display: none;
  }
  .nav-items{
    display: none;
  }
  nav img{
    margin-left: -90px;
    width: 90px;
  }
}